# ------------------------------
# Flutter/Dart
# ------------------------------
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.metadata

# ------------------------------
# Flutter generated iOS / Android
# ------------------------------
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release

# ------------------------------
# Secrets / API Keys
# ------------------------------
lib/secrets.dart
android/app/google_maps_api.xml

# ------------------------------
# Optional platform folders if not using
# ------------------------------
linux/
macos/
windows/
web/

# ------------------------------
# IDE / Editor files
# ------------------------------
.idea/
.vscode/
*.ipr
*.iws

# ------------------------------
# Miscellaneous
# ------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ------------------------------
# Symbolication / Obfuscation
# ------------------------------
app.*.symbols
app.*.map.json
